/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------RESET CSS STYLES */

/* ----------CUSTOME STYLES */
header{
	z-index: 1;
	width: 100%;
	margin: auto;
	margin-top: 25px;
	
	
}

 .social_media_icons{
	text-align: center;
    width: 100%;
    /* border: 1px solid black; */
	position: absolute;
	z-index: 10;
    top: 30px;
}
 .social_media_icons a i{
	background-color: white;
	border-radius: 50%;
	padding: 10px;
	color: black;
	margin: 3px;
	margin-bottom: 25px;
    
}
 .middle_align{
	display: flex;
	justify-content: center;
}

 .header{
	width: 70%;
	height: 80px;
	display: flex;
	align-items: center;
    /* border: 1px solid; */
    box-shadow: 3px 2px 6px rgba(151, 109, 109, 0.5);
    position: fixed;
    top: 90px;
	justify-content: space-between;
	background-color: white;
    z-index: 10;	
}

 .header .left{
	display: flex;
	align-items: center;
    /* border: 1px solid red; */
    width: 30%;
}

 .left .logo{
    width: 80px;
}

 .header .left h2{
	font-size: 40px;
	margin-left: 30px;
    color: #EC523F;
	font-weight: bold;
}

 .navigation_links{
    /* border: 1px solid red; */
    display: flex;
    margin-right: 10px;
    text-align: right;
    
}
 .navigation_links a{
	margin-left: 25px;
	text-decoration: none;
	font-size: 15px;
	color: grey;
    margin-right: 10px;
	/* border: 1px solid black; */
	padding: 30px 5px;
    border-top: 5px solid white;
    text-align: right;

}
header .header .navigation_links .color_orange{
	border-top: 5px solid orangered;
    color: #EC523F;
}
/* ----------------------------------------- */

body{
	font-family: 'Ubuntu', sans-serif;
}
/* ----------bg banner */
.banner{
	width: 100%;
	position: relative;
	z-index: 0;
    background-color: black;

}
 .banner img{
	width: 100%;
	opacity: 45%;
	z-index: -3;
}

/* ----------------------------------------------- */

 .brand_name{
	text-align: center;	
	position: absolute;
	z-index: 2;
	top: 400px;
	left: 39%;
}

 .brand_name hr{
	width: 400px;
	background-color: white;
}

 .brand_name h1{
	font-size: 35px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}

 .brand_name p{
	font-size: 18px;
	color: white;
	margin-top: 20px;
}
 .brand_name .design_btn{
	width: 130px;
	padding: 15px 0px ;
	/* border: 1px solid black; */
	margin: auto;
	margin-top: 30px;
	color: white;
	background-color: rgb(236,82,63);
	font-weight: bold;
}

/* page navigation circles start------------------------- */

.circles .page_navigations{
	display: flex;
	justify-content: center;	
}

.circles .page_navigations .circle{
	padding: 5px;
	border-radius: 50%;
	/* border: 1px solid black; */
	background-color: black;
	opacity: 65%;
	margin: 5px;
	z-index: 2;
	
}
.circles .page_navigations .icon_color{
	background-color: black;
	opacity: 100%;
}

/* ----------section-2 start */



.container{
	width: 100%;
	margin-top: 55px;
}

 .our_services , .our_portfolio, .our_team , .contact{
	text-align: center;
    width: 70%;
	margin: auto;
	margin-top: 100px;
}

.heading{
	font-size: 25px;
	/* border-bottom: 1px solid black; */
	display: inline-block;
	margin-bottom: 15px;
	font-weight: bold;
	
}

.tag_for_heading{
	margin-bottom: 20px;
}

.portfolio_images , .team_member_images, .service_icons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

 .portfolio_images img {
    width: 22%;
    margin-top: 40px;
}

 .service_icons .icon{
	width: 22%;
	height: 200px;
	padding-top: 100px;
	/* border: 1px solid red; */
	font-size: 55px;
	background-color: rgb(92,189,157);
	color: white;
	margin-top: 25px;
}

 .service_icons  .second{
	background-color: rgb(230,127,49);
}
 .service_icons  .third{
	background-color: rgb(57,152,219);
}
 .service_icons  .fourth{
	background-color: rgb(104,205,115);
}

/* -------------------------- */

 .team_member_images img{
    width: 22%;
    border-radius: 50%;  
}

 .design_skills h3{
	font-size: 20px;
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 15px;
	font-weight: bold;
	font-style: italic;
}

 .design_skills .data, .contact .data{
    display: flex;
    align-items: center;
    justify-content: space-between;
	text-align: left;
	/* border: 1px solid black; */
}

  .data  .para{
	width: 85%;
	font-size: 17px;
	line-height: 1.5;
    text-align: left;
	margin-top: 20px;
	/* border: 1px solid red; */
}

.color_red{
	color: red;
}

 .design_skills .graph{
	width: 40%;
}

 .design_skills  .box{
	width: 75%;
	height: 35px;
	margin: auto;
	background-color: rgb(231,231,231);
	margin-top: 20px;
	margin-bottom: 13px;
	margin-right: 0px ;
    text-align: left;
	
}

 .design_skills .color_filled{
	width: 80%;
	height: 25px;
	background-color: rgb(234,81,62);
	padding-top: 10px;
	padding-left: 20px;
	color: white;
}

  .graph .html_css{
	width: 70% ;
}
  .graph .development{
	width: 55% ;
}
  .graph .marketing{
	width: 65% ;
}

/* -------------section-5 */

 address iframe{
	width: 100%;
	height: 300px;
	margin-top: 25px;
}


 .contact .data .left{
	width: 50%;
	align-items: center;
	line-height: 1.5;	
}

 .contact .data .right{
	width: 45%;
	/* border: 1px solid red; */	
}
 .contact .data .right .input_box{
	width: 75%;
	padding: 10px 10px;
	color: grey;
	border: 1px solid grey;
	margin: auto;
	margin-top: 30px;
	margin-right: 0;
}

 .contact .data .right .message{
	height: 120px;
}

 .contact .data .right .input_btn{
	text-align: center;
	background-color: rgb(234,81,62);
	color: white;
}

/* -----------------------Footer */

footer .container{
	width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

footer .container .back_to_top{
	width: 120px;
	padding: 10px 0;
	border: 1px solid rgb(234,81,62);
	background-color: rgb(234,81,62);
	text-align: center;
	color: white;
	transition: all 0.5s ease;
}


footer .container .back_to_top a{
	text-decoration: none;
	color: white;
}